body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #DDDDDD;
}
.button {
    padding: 100%;
}
.html-logo {
    width: 30%;
    padding-top: 5%;
}
.homebtn {
    width: 50%;
    height:50%;
}
.ninepic {
    max-width: 100%;
}
.cardbg {
    background-color: #E9ECEF;
}

.footer {
    padding: 20px;
    text-align: center;
    background: rgb(201, 201, 201);
}
      
.cardfull {
    display:block;
    width: auto;
    padding-left: auto;
    padding-right: auto;
    margin: 30px;
}
.spinspinspin{
    padding-top: 500px;
    padding-bottom:500px;
}
.cardimagesize{
    max-height: 475px;
}

.numberninetext {
    background-color: slategray;
    color: white;
}
.navbg {
    background-color: #ddd;
}

.buttonception {
    text-align: center;

}
.imgsize {
    width: 100%;
    height: 100%
}
.margin {
    padding-left: auto;
    padding-right: auto;
}

.carousel img {
    width:100%;
    height:auto;
}